<h1>
  Basic usage
</h1>

<p>List of students</p>

<ngx-table
  [columnSettings]="customerColumns"
  [data]="customers"
>

</ngx-table>

<h1>
  Fully CSS customization
</h1>

<p>List of students customized</p>

<div class="customization">
  <ngx-table
    [columnSettings]="customerColumns"
    [data]="customers"
  >

  </ngx-table>
</div>


<h1>
  Fully Configurable Inputs
</h1>

<table>
  <tbody>
  <tr>
    <td>Column filtering</td>
    <td>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="enableColumnFiltering">
        <span class="slider round"></span>
      </label>
    </td>
    <td>Column sorting</td>
    <td>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="enableColumnSorting">
        <span class="slider round"></span>
      </label>
    </td>
  </tr>
  <tr>
    <td>Local pagination</td>
    <td>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="localPagination">
        <span class="slider round"></span>
      </label>
    </td>
    <td>Element per page : </td>
    <td>
        <input type="number" [(ngModel)]="elementPerPage" [disabled]="!localPagination">
    </td>
  </tr>
  <tr>
    <td>Max number action button by row : </td>
    <td>
        <input type="number" [(ngModel)]="maxActionButtonPerRow">
    </td>
    <td>Position collapsed action button</td>
    <td>
        <select [(ngModel)]="collapseButtonPosition">
          <option value="default">Default</option>
          <option value="bottom">Bottom</option>
          <option value="right">Right</option>
        </select>
    </td>
  </tr>
  <tr>
    <td>Dangerous transaction (red row) with amount between : </td>
    <td>
        <input type="number" [(ngModel)]="dangerousAmountMin" (keyup.enter)="transactions = [].concat(transactions)">
    </td>
    <td>
        <input type="number" [(ngModel)]="dangerousAmountMax" (keyup.enter)="transactions = [].concat(transactions)">
    </td>
    <td>(Press "Enter" to view changes)</td>
  </tr>

  </tbody>
</table>

<p>List of transactions</p>
<ngx-table
  [actionButtons]="actionButtons"
  [collapseActionButtonPosition]="collapseButtonPosition"
  [maxActionButtonPerRow]="maxActionButtonPerRow"
  [columnSettings]="transactionColumns"
  [data]="transactions"
  [enableColumnSorting]="enableColumnSorting"
  [enableColumnFiltering]="enableColumnFiltering"
  [localPagination]="localPagination"
  [elementPerPage]="elementPerPage"
  [elementPerPageList]="elementPerPageList"
  (onClickActionButton)="onActionButtonClicked($event)"
  (onRowDisplayed)="onRowDisplayed($event)"
>

</ngx-table>
<!--<router-outlet></router-outlet>-->
